---
import Layout from "../layouts/Layout.astro";
import InstagramEmbeded from "../components/InstagramEmbeded.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
import Offers from "../sections/Offers.astro";
import Services from "../sections/Services.astro";
import About from "../sections/About.astro";
import Footer from "../sections/Footer.astro";
import Pricing from "../sections/Pricing.astro";
---

<Layout title='Soltraveltour - Webpage'>
  <main>
    <Header />
    <div>
      <Hero />
      <Offers />
      <Services />
      <About />
      <Pricing />
      <InstagramEmbeded
        title='SOLTRAVELTOUR'
        body='Como llegar'
        href='https://soltraveltour-agency.vercel.app'
      />
    </div>
    <Footer />
  </main>
</Layout>

<style>
  div {
    width: 85%;
    margin: auto;
  }
</style>
