---

---

<section id='nosotros'>
  <h2>Conócenos</h2>
  <p>
    Bienvenido/a a <strong>Sol Traveltour</strong>, tu puerta de entrada al
    mundo de las experiencias inolvidables.
  </p>
  <p>
    Somos una agencia de viajes apasionadas y comprometida, dedicada a crear
    aventuras únicas y memorables para cada uno de nuestros viajeros. Nuestra
    misión es hacer realidad tus sueños de explorar destinos asombrosos,
    sumergirte en culturas fascinantes y vivir momentos inigualables.
  </p>
  <p>
    Con un equipo de expertos en viajes y una profunda pasión por el turismo, te
    garantizamos una planificación impecable, atención personalizada y una
    experiencia de viaje excepcional en cada paso del camino.
  </p>
</section>

<style>
  section {
    margin: auto;
    padding: 40px 0;
  }

  section h2 {
    display: flex;
    justify-content: center;
    font-size: 2em !important;
  }

  strong {
    color: orange;
  }

  section p {
    line-height: 1.7;
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
  }

  @media (max-width: 767px) {
    #about {
      width: 90%;
    }

    #about p {
      text-align: justify;
      font-size: 1.05em;
    }
  }
</style>
