---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Soltraveltour ¡la mejor agencia de viajes!'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='public/favicon.svg' />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0'
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* signika-latin-wght-normal */
  @font-face {
    font-family: "Signika Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 300 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/signika:vf@latest/latin-wght-normal.woff2)
      format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* quicksand-latin-wght-normal */
  @font-face {
    font-family: "Quicksand Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 300 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/quicksand:vf@latest/latin-wght-normal.woff2)
      format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Signika Variable";
    margin: auto;
  }

  @media (max-width: 767px) {
    body {
      width: 100%;
    }
  }
</style>
